.reset-password-page {
  margin: 16px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.reset-password-page form {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.reset-password-page form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin: 10px 0;
}

.reset-password-page form input:focus {
  border-color: #333;
}

.reset-password-page form label {
  font-size: 0.8rem;
  font-weight: 600;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
