@media (min-width: 576px) {
  .smallScreenToggleSidebar {
    display: none;
  }
}

.sidebar-collapse-button {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.market-layout-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.market-layout__main-content {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
}
